/*
Theme Name: Buziness
Theme URI: http://theme13.themeszen.com/
Description: Business wordpress theme.
Version: 1.2
Author: Manishg
Author URI: http://themeszen.com/
Tags: white,two-columns,theme-options
*/


@import "css/reset.css";

/* General */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

body {
	background: #e2e2e2;
	font: normal 12px Verdana, sans-serif;
	color: #5e6066;
	line-height:18px;
}
	
a {
	color: #e05f37;
	outline: 0;
}
	
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:active,
a:hover {
	color: #e05f37;
	text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
	color: #2c2d31;
	margin-bottom: 18px;
}

h1 { font-weight: bold; font-size: 30px; line-height: 36px;  }
h2 { font-weight: bold; font-size: 24px; line-height: 18px;  }
h3 { font-weight: bold; font-size: 18px; line-height: 18px; }
h4 { font-weight: bold; font-size: 12px; line-height: 18px; }
h3 a {
	color: #2c2d31;
	text-decoration: none;
}

hr {
	background-color: #E7E7E7;
	border:0;
	height: 1px;
	margin-bottom: 18px;
	clear:both;
}

p {
	padding: 0 0 0.5em;
	line-height:1.6em;
}
ul {
	list-style: square;
	margin: 0 0 18px 0;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style:upper-alpha;
}
ol ol ol {
	list-style:lower-roman;
}
ol ol ol ol {
	list-style:lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom:0;
}
dl {
	margin:0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
	color: #000;
}
cite,
em,
i {
	font-style: italic;
	border: none;
}
big {
	font-size: 131.25%;
}
ins {
	background: #FFFFCC;
	border: none;
	color: #333;
}
del {
	text-decoration: line-through;
	color: #555;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
ins {
	text-decoration: none;
}
sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
	font-size: 10px;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

p,
ul,
ol,
dd,
pre,
hr {
	margin-bottom:10px;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom:0;
}
pre,
kbd,
tt,
var {
	font-size: 15px;
	line-height: 21px;
}
code {
	font-size: 13px;
}
strong,
b,
dt,
th {
	color: #000;
}


/* main_container */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#wrapper {
	margin: 0 auto;
	position: relative;
	width:964px;
	margin-top: 25px;
	background:#fff;
}

/* header*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#search-header{
	float:left;
	margin-top:30px;
}

#search-header #search{
	background: #0b0c0c;

}

#search-header #search #s{
	background: #0b0c0c;
	font-size:12px;
	color: #aaa;
}

#header_container{
	margin: 0 auto;
}

#header {
	width:964px;
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 25px;
}

#content_container{
	margin: 0 auto;
	width:964px;
}

#content {
	width:964px;
	float:left;
	z-index: 1;
	background-color:#fff;
}

#content #left-col {
	/*width:610px;
	float:left;*/
	padding: 20px 20px 20px 20px;
	z-index: 1;
}

#content #right-col {
	width:307px;	
	padding:3px;
	float:left;
	z-index: 1;
}

/*footer*/	
/*////////////////////////////////////////////////////////////////////////////////////////////*/


#footer {
	margin: 0 auto;
	background: #f1f1f1;
	width:964px;
}

#footer-container{
	width:964px;
	margin: 0 auto;
	padding-top:20px;
	font-size:11px;
}

#footer-info {
	color:#666;
	padding-bottom: 15px;
	padding-top: 20px;
	text-align:left;
	width: 964px;
	margin: 0 auto;
	font-size:11px;
	border-top: 1px solid #ddd;
	width: 930px;
	height: 85px;
	position: relative;
}


#copyright{
	margin-bottom: 0px;
}

#footer-info a{
	text-decoration:none;
	color: #666;
}

#footer-info a:hover{
	color: #000;
}

#footer-widget{
	width: 964px;
	float: left;
	color:#6f6f6f;
	line-height: 13px;
}

#footer-widget .textwidget {
	padding: 5px 0px;
}

#footer-widget .widget-container ul li a	{
	color:#555;
}

#footer-widget .widget-container ul li a:hover	{
	color: #000;
}

#footer-widget .widget-container h3 {
	color: #555;
	margin-bottom: 3px;
	padding-top: 10px;
	padding-left: 0px;
	font-size: 12px;
	padding-bottom: 2px;
	font-weight:bold;
}

#footer-widget .widget-container ul li {
	border-bottom: 1px solid #ccc;
	padding: 7px 0px;
	margin-left: 0px;
	background: none;
	}

#footer-bar1 {
	width: 215px;
 	float: left;
	padding-left: 20px;
}
#footer-bar2 {
	width: 215px;
 	float: left;
	padding-right: 20px;
}
#footer-bar3 {
	width: 215px;
 	float: left;
	padding-right: 20px;
}
#footer-bar4 {
	width: 215px;
 	float: left;
}

/*logo*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#logo {
	float:left;
	margin: 33px 0px 0px 20px;
}

#logo2 {
	float:left;
	margin: 25px 0px 0px 20px;
}

#logo img, #logo2 img{
	border: none;
}

#logo a{
	text-decoration: none;
	color: #666;
	font-size: 30px;
	letter-spacing: -1pt;
	font-weight: bold;
}

/*search*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#search {
	width:180px;
	height:28px;
	background: #ebebeb;
	margin-left: 10px;
	position: relative;
}

#search #searchsubmit {
	background:url(images/go-btn.png) no-repeat top right;
	width:28px;
	height:28px;
	border:0px;
	position:absolute;
	right: -35px;
}

#search #s {
	width:170px;
	height:24px;
	border:0px;
	margin-left:7px;
	margin-right:10px;
	margin-top:3px;
	color:#666;
	display: inline;
	background: #ebebeb;
	float: left;
}

/*menu bar*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#menubar {
	float: right;
	z-index: 99;
	margin: 54px 20px 0px 30px;
	position:relative;
	width: 600px;
}
.nav li.current-menu-item a {
	color: #231F20;
}

/*homepage boxes*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#home-boxes{
	width:900px;
	margin: 0px auto;
	margin-top: 30px;
	padding-bottom: 40px;
	border-bottom: 1px solid #ebebeb;
	height: 190px;
}

.box-icon{
	float:left;
	width: 43px;
}

.iconbox-content {
	float: left;
	width: 222px;
	margin-left: 10px;
	margin-top:5px;
	height: 170px;

}

.iconbox-content h3{
	margin-bottom: 5px;
}

#home-boxes h3{
	font-weight: normal;
	color: #2c2d31;
}

#home-boxes ul { margin: 0 0 10px 0px; }
#home-boxes ul li {
	display: block;
	margin: 5px 0;
	padding: 0 0 0 15px;
	background: url(images/bullet.png) no-repeat 0 7px;
}

#home-boxes ol {
	margin: 5px 0 10px 20px;
}
#home-boxes ol li { 
	margin: 5px 0;
	list-style: decimal;
	padding: 0 0 0 0px;
 }

#jcarousel{
	padding:20px 0px;
}

/* welcome box */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#welcome_container{
	padding: 10px 0px 10px 0px;
	width:964px;
	margin: 0 auto;
}

#welcome-box h1{
	color: #333;
	font-size: 17px;
	text-align: center;
	margin-top:13px;
	line-height: 29px;
	font-weight: normal;
	font-style: oblique;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#welcome-box h1 strong {
	font-weight: bold;
	font-style: italic;
}
#welcome-box {
	width: 900px;
	border-bottom:1px solid #ebebeb;
	padding-bottom:25px;	
	margin: 0 auto;
}


/* home container */

#home-container{
 background: #fff;
 margin:0 auto;
 padding: 0px 0px 20px 0px;
}


/* slideshow */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

/*============================*/
/*=== NIVO Custom Slider Styles ===*/
/*============================*/
#slider-wrapper {
    width:915px;
    height:350px;
    margin:0 auto;
	border-top: 1px solid #ebebeb;
	padding-top: 20px;
}

#slider {
	position:relative;
    width:915px;
    height:350px;
}
#slider a {
	border:0;
	display:block;
}

#slider {
	margin:0px;
	padding-bottom:0px;
}

.nivo-controlNav {
	position:absolute;
	right:0px;
	bottom:-25px;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(images/nivo/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:0px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	width:30px;
	height:20px;
	background:#333;
	border:0;
	text-decoration: none;
	color: #fff;
	text-align: center;
	font-size: 10px;
}
a.nivo-nextNav {
	right:0px;
	background:#000;
}
a.nivo-prevNav {
	right:30px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Arial, sans-serif;
	font-size:10px;
}


.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}

/* POST */
/*////////////////////////////////////////////////////////////////////////////////////////////*/


.post {
	width:610px;
	float:left;
	padding: 0px;
	margin-bottom: 25px;
}

.post ol{
	margin-left: 20px;
}

.post ul {
	margin-left: 15px;
}
.post-entry ul { margin: 0 0 10px 10px; }
.post-entry ul li {
	display: block;
	margin: 5px 0;
	padding: 0 0 0 17px;
	background: url(images/bullet.png) no-repeat 0 5px;
}

.post-entry ol {
	margin: 5px 0 5px 20px;
}
.post-entry ol li { 
	margin: 5px 0;
	list-style: decimal;
	padding: 0 0 0 2px;
 }

.post-entry {
	width:610px;
	float:left;
	padding-bottom: 10px;
	padding-top: 10px;
}

.post-head {
	margin-bottom: 0px;
}

.post-head h1 a, .post-head h1 {
	text-decoration:none;
	color:#333;
	margin: 0px;
	font-size: 20px;
}

.post-head h1 a:hover {
	color:#464646;
}


.post-head-notfound h1, .post-head-404 h1, .post-head-archive h1, .post-head-search h1 {
	margin-bottom: 10px;
	font-weight:normal;
	text-decoration:none;
	color:#333;
	font-size: 20px;
}

.post-thumb img {
	border: 0px solid #ebebeb;
	

}

.timbg img{
	border: 0px solid #ebebeb;
	padding: 5px;
}

.meta-data{
	line-height: 16px;
	padding: 6px 3px;
	margin-bottom: 5px;
	font-size: 11px;
	float:left;
	border-bottom: 1px solid #ebebeb;
	width: 600px;
}

.meta-data a{
	color: #777;
	
}
	
.read-more a{
	margin-top: 10px;
	float: left;
	text-decoration: none;
	padding: 5px 12px;
	color: #777;
	font-size: 12px;
	background: url("images/read-more.png") top left no-repeat;
}

.read-more a:hover{
	color:#000;
}

.clear {
	clear:both;
}

.sticky {
  border-bottom: 1px solid #e7e7e7;
}

/* content */
/*////////////////////////////////////////////////////////////////////////////////////////////*/
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 10px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 10px;
}
#content tr.odd td {
	background: #f2f7fc;
}

/* sidebar*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#sidebar {
	float:left;
	width:290px;
	padding:35px 5px 20px 15px;
}

#sidebar ul  {
	list-style: none;
}

/* portfolio */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.portfolio1 {
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	height: 300px;
	overflow: hidden;
}

.portfolio1 h2, .portfolio2 h2, .portfolio3 h2, .portfolio4 h2{
	padding-top:10px;
	font-size: 16px;
}

.portfolio1 h2 a, .portfolio2 h2 a, .portfolio3 h2 a, .portfolio4 h2 a{
	color:#333;
	margin-top:10px;
}

.portfolio1 h2 a:hover, .portfolio2 h2 a:hover, .portfolio3 h2 a:hover, .portfolio4 h2 a:hover{
	color:#000;
	text-decoration:none;
}

div.pphoto, div.pphoto2{
	background:#fff;
	position:relative;
	overflow:hidden;
	margin:10px 0;
	z-index:1;
}

.pphoto a img, .pphoto a:hover img, .pphoto2 a img, .pphoto2 a:hover img {
	position:relative;
	z-index:2;
	margin:0;
}
.pphoto img, .pphoto2 img {
	display:inline;
	float:left;
}
.pphoto span, .pphoto2 span {
	z-index:1;
	width:100%;
	height:100%;
	background:url("images/zoom_icon.png") no-repeat scroll center center #000;
	left:0;
	position:absolute;
	top:0;
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
	font-weight: normal;
	font-size: 16px;
}
.commentlist {
	list-style: none;
	margin: 0;
	border-left: 1px solid #e7e7e7;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 30px;

}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	padding: 4px;
	border: 1px solid #e6e1db;
	float: left;
	margin-right: 8px;
}
.comment-author .fn a{
	text-decoration: none;
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color:#999999;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color:#999999;
}
.commentlist .even {
}
.commentlist .bypostauthor {

}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a {
	background:#ebebeb; text-decoration:none; width:53px; height:23px; display:block; text-align:center; color: #777;
}
.reply a:hover {
	background-color:#d2d2d2;
	
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}


/* Comments form */
input[type=submit] {
	color: #333;
	cursor: pointer;
	display:block;
	background-color: #ebebeb;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
	font-weight: normal;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 95%;
	border:1px solid #ebebeb;
	padding: 5px;
	color: #666;
}
#respond textarea {
	width: 95%;
	border:1px solid #ebebeb;
	color: #666;
	padding: 5px;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}

/*contact form*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.contactform label {
	float:left;
	width:100px;
	font-size:12px;
	padding-top:4px;
	margin-right: 10px;
	color: #333;
	display:block;
	}
	
.contactform input {
	padding:5px;
	width:350px;
	border:1px solid #ebebeb;
	color: #666;
	}
	
.contactform textarea {
	color: #666;
	height:100px;
	width:350px;
	padding:5px;
	border:1px solid #ebebeb;
	}

.contactform p {
	margin-bottom:10px;
}	

.contactform .submit input {
	width: auto;
	padding: 5px 18px;
	background: #ebebeb;
	border: 0;
	font-size: 14px;
	color: #777;
	float: right;
	margin-right: 145px;
}	

.contactform .submit input:hover {
	background-color:#d2d2d2;
	cursor:pointer;
}

.needsfilled {
	background:#d2d2d2;
	color:white;
}

#sidebar-contact{
	padding-left: 10px;
}

/*SHORTCODES*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

/* JQUERY TABS
-------------------------------------------------------------- */
  
/* root element for tabs  */

ul.tabs { 
	list-style:none; 
	margin:0 !important; 
	padding:0;	
	border-bottom:1px solid #bcbcbc;	
	height:30px;
}

/* single tab */
ul.tabs li, #post-entry-fullwidth ul.tabs li { 
	float:left;	 
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important; 
}

/* link inside the tab. uses a background image */
ul.tabs a { 
	background: url(images/shortcodes/tabs.png) no-repeat -420px 0;
	font-size:11px;
	display:block;
	height: 30px;  
	line-height:30px;
	width: 134px;
	text-align:center;	
	text-decoration:none;
	color:#333;
	padding:0px;
	margin:0px;	
	position:relative;
	top:1px;
}

ul.tabs a:active {
	outline:none;		
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
	background-position: -420px -31px;	
	color:#333;	
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	background-position: -420px -62px;		
	cursor:default !important; 
	color:#000 !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
ul.tabs a.s 			{ background-position: -553px 0; width:81px; }
ul.tabs a.s:hover 	{ background-position: -553px -31px; }
ul.tabs a.s.current  { background-position: -553px -62px; }

/* width 2 */
ul.tabs a.l 			{ background-position: -248px -0px; width:174px; }
ul.tabs a.l:hover 	{ background-position: -248px -31px; }
ul.tabs a.l.current  { background-position: -248px -62px; }


/* width 3 */
ul.tabs a.xl 			{ background-position: 0 -0px; width:248px; }
ul.tabs a.xl:hover 	{ background-position: 0 -31px; }
ul.tabs a.xl.current { background-position: 0 -62px; }


/* initially all panes are hidden */ 
.panes .pane {
	display:none;		
}

/* tab pane styling */
.panes div {
	display:none;		
	padding:15px 10px;
	border:1px solid #bcbcbc;
	border-top:0;
	height:100px;
	font-size:12px;
	background-color:#fff;
}
  

/* ACCORDION
-------------------------------------------------------------- */
/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion {

	width: 300px;
	border:1px solid #bcbcbc;	
	background:#fff;
}

/* accordion header */
#accordion h2 {
	background:#ccc url(images/shortcodes/h30.png);
	margin:0;
	padding:5px 15px;
	font-size:14px;
	font-weight:normal;
	border:1px solid #eee;
	border-bottom:1px solid #bcbcbc;
	cursor:pointer;	
	color: #333;
}

/* currently active header */
#accordion h2.current {
	cursor:default;
	background-color:#fff;
}

/* accordion pane */
#accordion .pane {
	border:1px solid #fff;
	border-width:0 2px;
	display:none;
	height:180px;
	padding:15px;
	color:#777;
	font-size:12px;
}

/* a title inside pane */
#accordion .pane h3 {
	font-weight:normal;
	margin:0 0 -5px 0;
	font-size:16px;
	color:#999;
}

/* CUSTOM LIST */

.custom-list ul { list-style: none !important; list-style-image: none !important; padding-left: 0 !important; margin: 0 !important; }
	.list-tick ul li { background: url(images/shortcodes/list-tick.png) no-repeat 0 3px !important; padding-left: 25px !important; margin: 5px 0 !important; list-style: none !important; }
	.list-cross ul li { background: url(images/shortcodes/list-cross.png) no-repeat 0 1px !important;  padding-left: 25px !important; list-style: none !important;}
	.list-arrow ul li { background: url(images/shortcodes/list-arrow.png) no-repeat 0 1px !important; padding-left: 25px !important; list-style: none !important;}
		.list-star ul li { background: url(images/shortcodes/list-star.png) no-repeat 0 1px !important;  padding-left: 25px !important; list-style: none !important;}
	.custom-list ul li ul { padding: 2px 0px !important; margin: 0 !important; }

/* BOXES */
.success	{
	background:url(images/shortcodes/success.png) no-repeat scroll 10px 3px #EEF4D4;
    border: 1px solid #8FAD3D;
    padding: 10px 10px 10px 60px;
    position: relative;
    width: 490px;	}

.info	{
	background:url(images/shortcodes/info.png) no-repeat scroll 10px 3px #c6d8f0;
    border: 1px solid #4381cc;
    padding: 10px 10px 10px 60px;
    position: relative;
    width: 490px;	}
	
.warning	{
	background:url(images/shortcodes/warning.png) no-repeat scroll 10px 3px #ffea97;
    border: 1px solid #e2b500;
    padding: 10px 10px 10px 60px;
    position: relative;
    width: 490px;	}
	
.cancel	{
	background:url(images/shortcodes/cancel.png) no-repeat scroll 10px 3px #efcec9;
    border: 1px solid #ae3f2e;
    padding: 10px 10px 10px 60px;
    position: relative;
    width: 490px;	}		

.yellow {
color:#333;
background:#ffff00;
padding:3px 2px;
}

.black {
color:#fff;
background:#000;
padding:3px 2px;
}

.red {
color:#fff;
background:#ff0000;
padding:3px 2px;
}

span.dropcap {
float:left;
font-size:28px;
width:40px;
height:40px;
line-height:42px;
margin-right:5px;
text-align:center;
}


.pullright {
width:33%;
float:right;
font-size:15px;
margin:10px 2px 10px 10px;
padding:15px;
border-left:2px solid #ebebeb;
}

.pullleft {
width:33%;
float:left;
font-size:15px;
margin:10px 10px 10px 2px;
padding:15px;
border-right:2px solid #ebebeb;
}

.quote{
	padding:2px 4px 2px 42px;
	background: url(images/shortcodes/quote.png) 0px 5px no-repeat;
	float:left;
	font-size: 15px;
}

.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.three_fourth{ width:74%; }
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:67.2%; }
.one_sixth{ width:13.33%; }
.five_sixth{ width:82.67%; }
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{ position:relative; margin-right:4%; float:left; }
.last{ margin-right:0 !important; clear:right; }
.clearboth {clear:both;display:block;font-size:0;height:0;line-height:0;width:100%;}


/* ------- Default Sliding Door Buttons ------- */
.button_link{
	font-family: Arial, sans-serif;
	background:url(images/shortcodes/buttons/black/button_sprite.png) no-repeat scroll right -165px transparent;
	text-decoration:none !important;
	color:#eee !important;
	text-shadow:0 -1px 0 #888888;
	display:inline-block;
	font-size:11px;
	letter-spacing:1.6px;
	margin:5px 10px 5px 0;
	border:0 none;
	padding:0 24px 0 0;
	text-transform:uppercase;}
.button_link span{
	background:url(images/shortcodes/buttons/black/button_sprite.png) no-repeat scroll -6px -122px transparent;
	text-decoration:none !important;
	display:block;
	line-height:10px;
	padding:15px 0 17px 21px;}
.button_link.large_button{
	background-position:right -61px;
	font-size:24px;
	height:56px;
	padding-right:24px;}
.button_link.large_button span{
	background-position:-6px -3px;
	line-height:20px;
	padding:16px 0 20px 19px;
	text-transform:none;}
.button_link:hover{text-decoration:none !important;}

/* -------  Alternate Color Buttons & Box Headers ------- */
.black_gradient, .black_gradient span{background-image: url(images/shortcodes/buttons/black/button_sprite.png) !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.blue_gradient, .blue_gradient span{background-image: url(images/shortcodes/buttons/blue/button_sprite.png) !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.green_gradient, .green_gradient span{background-image: url(images/shortcodes/buttons/green/button_sprite.png) !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.grey_gradient, .grey_gradient span{background-image: url(images/shortcodes/buttons/grey/button_sprite.png) !important; color:#333 !important; text-shadow:0 -1px 0 #888 !important;}
.navy_gradient, .navy_gradient span{background-image: url(images/shortcodes/buttons/navy/button_sprite.png) !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.orange_gradient, .orange_gradient span{background-image: url(images/shortcodes/buttons/orange/button_sprite.png) !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.pink_gradient, .pink_gradient span{background-image: url(images/shortcodes/buttons/pink/button_sprite.png) !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.purple_gradient, .purple_gradient span{background-image: url(images/shortcodes/buttons/purple/button_sprite.png) !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.red_gradient, .red_gradient span{background-image: url(images/shortcodes/buttons/red/button_sprite.png) !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}

/*gallery-wp*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#gallery-wp a{
	text-decoration: none;
	font-size: 18px;
}

.gallery-caption {
	margin: 0 0 5px;
}

/*--navigation--*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.navigation {
	float: left;
	width: 600px;
	margin: 20px 0;
}


.navigation .alignleft a {
	float: left;
}

.navigation .alignright a {
	float: right;
}

/*--wp-pagenavi--*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.wp-pagenavi {
	color: #464646;
	margin-top: 30px;
}

.wp-pagenavi a {
	margin-left: 3px;
	padding: 3px 7px;
	text-decoration: none;
}

.wp-pagenavi a.page {
	padding: 2px 5px; 
	margin: 2px;
	text-decoration: none;
	background: #f6f6f6;
}

.wp-pagenavi span.current {
	padding: 2px 5px; 
	margin: 2px;
	font-weight: bold;
	background: #000;
	color: #fff;
}
.wp-pagenavi span.extend {
	padding: 2px 5px; 
	margin: 2px;
	background: #f6f6f6;
	text-decoration: none;
}

.wp-pagenavi span.pages {
	padding: 2px 5px; 
	margin: 2px;
	background: #f6f6f6;
}

/*--sub head and breadcrumbs--*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#subhead_container{
	background: #fff;
	margin:0px auto;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	width: 920px;
}

#subhead{
	margin:0px auto;
	width: 920px;
}

#subhead h1{
	color: #555;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 0px;
	font-size: 20px;
	margin-bottom: 0px;
}

/* full width page */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#post-entry-fullwidth {
	padding: 20px 22px;
	width:920px;
	float:left;
	z-index:1;
	background-color: #fff;
}
.sub_hero {
	margin-bottom: 20px;
}

#post-entry-fullwidth ul { margin: 0 0 10px 10px; }
#post-entry-fullwidth ul li {
	display: block;
	margin: 5px 0;
	padding: 0 0 0 15px;
	background: url(images/bullet.png) no-repeat 0 7px;
}

#post-entry-fullwidth ol {
	margin: 5px 0 10px 20px;
}
#post-entry-fullwidth ol li { 
	margin: 5px 0;
	list-style: decimal;
	padding: 0 0 0 0px;
 }

/*--widget-formatting*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

/*general*/

.widget-container {
	margin-bottom: 45px;
}

.widget-container ul li a	{
	text-decoration:none;
	color:#e05f37;
}

.widget-container ul li a:hover	{
	text-decoration:underline;
	color:#e05f37;
}

.widget-container h3 {
	color: #333; 
	padding: 0px 5px 12px 10px;
	margin: 0px 0px 0px 0px;
	overflow: hidden;
	font-size: 18px;
	font-weight: 500;
}

.widget-container ul li {
	border-bottom: 1px solid #ebebeb;
	padding: 7px 0px 7px 14px;
	margin-left: 12px;
	margin-right: 15px;
}

.widget-container ul li {
	background: url("images/bullet.png") no-repeat 0px 12px;
}

.widget-container ul li ul li{
	margin-left: 12px;
}

/*widgets*/

.textwidget {
	padding: 5px 11px;
}

#calendar_wrap {
	text-align: left;
	padding: 8px 15px;
	margin: 0;
}

#wp-calendar {
	text-align:	left;
	margin-top:	5px;
	width:	100%;
}

#wp-calendar caption{
	font-weight: normal;
	font-size: 14px;
	margin-bottom: .4em;
}

#wp-calendar td{
	padding:10px;
}

#wp-calendar #today{
	font-weight: bold; color: #FF0000;
}


.widget_tag_cloud a{
	text-decoration: none;
	padding: 11px;
}

/*Alignments */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#left-col img {
	/*max-width: 610px;*/
}

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 22px;
	margin-top: 9px;
}

.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 22px;
	margin-top: 8px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter
{
	margin-bottom: 10px;
}

img.alignnone,
.alignnone {
	display: inline;
	float: left;
	margin-right: 15px;
	margin-top: 4px;
	margin-bottom: 12px;
}

.wp-caption {
	border: none;
	background: #f1f1f1;
	color: #888;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	margin-bottom: 15px;
	padding: 4px;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.wp-caption img {
	margin: 5px;
}
.wp-caption p.wp-caption-text {
	margin: 0 0 4px;
}
.wp-smiley {
	margin:0;
}
.columns {
	width: 920px;
	margin-top: 20px;
	overflow: hidden;
}
.two_col {
	width: 460px;
	float: left;
}
.widget-container ul li a.floorplan {
	color: #e05f37;
	text-decoration: none;
}
.widget-container ul li a:hover.floorplan {
	text-decoration: underline;
}
#hero_wrap {
	width: 920px;
	margin: 0 22px;
}
#hero_wrap img {
	margin-bottom: 0px;
}
#footer_stripe {
	height: 70px;
	width: 920px;
	padding: 20px 22px;
	clear: both;
}