/*
 Theme Name:   Buziness Responsive
 Theme URI:    http://www.ekcetera.com
 Description:  Buziness 1.2 Child Theme
 Author:       Kim Wilson
 Author URI:   http://ekcetera.com
 Template:     Buziness-1.2
 Version:      1.0.0
 Tags: white,two-columns,theme-options
*/

@import url("parent.css");

/* --- Styles to override non-responsive styles of the parent theme --- */

#wrapper { width: auto; }
#header { width: auto;}
#menubar {width: auto; margin: 30px 20px 0px 30px;}
#welcome_container {width:auto;padding:0;}
#welcome-box { width:auto; max-width: 900px;}
#subhead_container {width:auto;}
#content_container {width:auto;}
#content {width:100%;}
#hero_wrap {width:auto;}

#sidebar {width:auto;}
#slider-wrapper {width:auto;height:auto;}
.columns { margin: 0; }
#logo2 {margin:0;}
#home-boxes { width: auto; height: auto;}
.iconbox-content {
	float: left;
    width: 80%;
    margin-left: 0;
    height: auto;
}
.box-icon {  margin-right: 10px; }
#footer_stripe { width:auto; height:auto;}
#footer {width: auto;}
#footer-container {width:auto;}
#footer-info { width: auto;}
#subhead {width:auto;}
#post-entry-fullwidth {width: auto;}
.post-entry { width:auto;}
.post {width: auto;}
.wp-pagenavi { clear: both; }
.meta-data {width: auto;}
#content #right-col { width: auto;}
#sidebar ul {
	margin:0;
}
#sidebar { padding-left: 0; }