//@import "compass"

//COLORS
 
//FONTS


// Font weights

body {
	background: #e2e2e2; 
	font-family: Verdana, sans-serif;
    font-size: 12px;
}

.row .row { margin: 0;}

#home-boxes h3 {
	font-size: 20px;
	line-height: 18px;
	margin-top: 5px;
}
#home-boxes p {
	font-size: 14px;
}

a:active, a:hover {
  color: #e05f37;
  text-decoration: underline;
}
#header_container a:active, #header_container a:hover {
	text-decoration: none;
}

#subhead h1 {
  color: #555;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 22px;
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: 700;
  font-family: Verdana, sans-serif;
}

.top-bar-section ul li>a, h1, h2, h3, h4, h5, h6 { font-family: Verdana, sans-serif;}

h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

p { font-size: 14px; }
dl, h6, ol, ul { font-size: inherit; }

.portfolio1 h2, .portfolio2 h2, .portfolio3 h2, .portfolio4 h2 {font-weight:700;}

.post h1, .post-entry h1 { 
	font-size: 30px; 
}

.vcard, .vcard .fn { margin: 0; border: none; font-size: 12px; font-weight: 400; padding: 0; display: inline;}
